/*******************HEADER SECTION ******************/
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}
.header-links {
  display: flex;
  font-size: .8em;
  margin-right: 40px;
}
.header-logo {
  max-width: 80px;
  margin-left: 40px;
  margin-top: 25px;
}
.header-logo:hover {
  opacity: .4;
  transition: 0.5s;
}
.links-home-about, .links-home-contact, .links-home-word {
  color: whitesmoke;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
}

.links-pages-about, .links-pages-contact, .links-pages-word {
  color: #28b3da;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  letter-spacing: -1px;
}

.links-home-about, .links-home-word {
  text-decoration: none;
  padding: 0px 20px 0px 0px;
}
.links-pages-about, .links-pages-word {
  text-decoration: none;
  padding: 0px 20px 0px 0px;
}

[class*='links-home']:hover {
 color: #28b3da;
  transition: 0.5s ease-out;
}

[class*='links-pages']:hover {
 color: #28b3da7a;
 transition: 0.5s ease-out; 
}
.landing-mid {
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing-row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 6000px;
  padding-top: 180px;
  text-align: center;
}

.home-title {
  height: auto;
  font-size: 1.5em;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  letter-spacing: -2.2px;
}
.name {
  color: #28b3da;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  letter-spacing: -2.2px;
}  
.name-blurb {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  letter-spacing: -1.5px;
  font-size: .8em;
}
.home, .about, .contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}
.home{
  background: url('./images/BG2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.overlay {
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(67, 67, 119, 0.6);
}
.overlay-pages {
  width: 100%;
  height: 100%;
}
.title {
  font-size: em;
  margin: 100px 0 10px 0;
}
#line {
border-top: solid #28b3da 3px;
margin-bottom: 0px;
width: 100px;
}

.App-link {
  color: #61dafb;
}

/************** WORK Pic Section *****************/
.sec-2 {
  min-width: 100vw;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-2-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 50vw;
}
.sec-2-work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 30px 60px 60px 60px;
}
.sec-2-col {
  display: flex;
  align-items: center;
}
.work-block {
  display: flex;
  min-width: 0;
  height: auto;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.work-block-bg {
  display: flex;
  width: 100vw;
  max-width: 100%;
}

.workBlurb {
  text-align: center; 
  margin-top: 50px;
  max-width: 750px;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1px;
  font-weight: 300;  
}
/*******************CONTACT SECTION ******************/
input {
  width: 500px;
  height: 50px;
  margin: 8px;
}
textarea {
  width: 500px;
  height: 250px;
  margin: 8px;
}
.form-section {
  margin: 50px;
}
.form {  
  display: flex;
  justify-content: center;
}
.contact-section {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(67, 67, 119, 0.6);
  justify-content: center;
}
.contact-col1 {
  display: flex;
}
.contact-col-c {
  display: flex;
  align-items: center;
  color: white;
  margin: 50px;
  
}
.contact-me {
  font-size: 3.5em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  letter-spacing: -2.2px;
}
.looking {
display: flex;
font-family: 'Montserrat', sans-serif;
font-weight: 600;
letter-spacing: -2px;
}
.scroll-icon {
  position: absolute;
  bottom: 10px;
}
.bounce {
  animation: bounce 2s;
  animation-delay: 4s;
  animation-iteration-count: 8;
}
@keyframes bounce {
  0%,
  15%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-18px);
  }
  60% {
    transform: translateY(-10px)
  }
}
@media screen and (max-width: 1024px) {
  .sec-2-work {
    flex-wrap: wrap;
  }
  .sec-2-about {
    flex-wrap: wrap;
  }
  .contact-section{
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .sec-1-block {
    width: 300px;
    paddin-top: 0px;
  }
  .sec-1 {
    flex-wrap: wrap;
    margin-bottom: 250px;
  }
 .sec-1-row-pic {
   margin-bottom: 0;
 }
  .scroll-icon {
    opacity: 0;
  }
  .home-title {
    font-size: 1em;
  }
  .name-blurb {
    font-size: .8em;
  }
  .sec-2-content {
    font-size: 75%;
    max-width: 80vw;
  }
  .Sicons {
  width: 25px;
  }
  .footer-title {
    font-size: .8em;
  }
  .looking {
    font-size: 1em;
  }
  .contact-me {
    font-size: 2.5em;
  }
  .about-text {
    width: 200px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  background: #282c34;
  font-family: 'Montserrat', 'Open Sans', sans-serif;
  font-weight: 300;
  margin-top: auto;
}
.footer-title {
  color: lightgray;
  padding-bottom: 40px;
  font-size: .9em;
  display: flex;
  justify-content: center;
}
.footer-col {
  display: flex;
  flex-direction: column;
}
.quote {
  letter-spacing: -1px;
  color: #28b3da;
  margin-top: 3px;
  font-size: 1.7em;
}
.pre-quote {
  color: lightgray;
  display: flex;
  letter-spacing: -1px;
  padding: 0;
  margin: 0;
}
.footer-logo {
  width: 70px;
  margin: 30px;
  padding-top: 10px;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.Sicons {
  display: flex;
  max-width: 30px;
  height: auto;
  color: white;
  padding: 25px;
}
.Sicons:hover {
  opacity: .4;
  transition: .5s;
}
.sec-2-about {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  padding: 0 70px 70px 70px;
}
.sec-1 {
  display: flex;
  flex-direction: row;
  height: 85vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.sec-1-pic, .sec-1-block {
  display: flex;
  flex-direction: column; 
  text-align: justify;
  line-height: 23px;
  padding: 20px;
}
.sec-1-block {
  max-width: 500px;
  padding-left: 40px;
  display: flex;
}
.sec-1-pic {
  display: flex;
  height: 270px;
  width: 270px;
}
.sec-1-row-pic {
width: 100%;
height: 100%;
object-fit: cover;
border-radius: 30%;
}
.about-pic-col {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.about-pic-text {
  font-family: 'Montserrat', sans-serif;
  color: #282c34;
  font-weight: 600;
  letter-spacing: -1.5px;
  font-size: .8em;
  padding: 0;
  margin-top: 10px;
}
.sec-1-about-text {
  font-size: .7em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1px;
}
.about-block-bg {
  width: 40px;
  height: auto;
  margin: 40px 0 0 0;
  padding: 40px;
  display: flex;
  background-color: #3a404b;
  border-radius: 100%;
}
.about-block-icon {
  display: flex;
  width: 40px;
  height: auto;
}
.textUnder {
  color: #28b3da;
  margin-bottom: 0;
  font-size: 1.3em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -2px;
  font-weight: 800;
}
.about-text {
  margin-top: 5px;
  max-width: 300px;
  text-align: center;
  font-size: .75em;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -1px;
  font-weight: 300;
}
.about-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-2-col-about {
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: .6px .8px 10px .5px rgba(88, 88, 95, 0.25);
}
.titles {
  color: #3a404b;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: .8em;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
  letter-spacing: -2.2px;
}
