.header {
  display: flex;
  flex-direction: row;
  height: 120px;
  width: auto;
  font-size: 1.2em;
  background-color: #282c34;
  justify-content: center;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 95vw;
}
.home-row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0px 70px 0px;
  min-height: 60vh;
  flex-direction: column;
}

.header-logo {
  max-width: 50px;
  margin-top: 15px;
}
.home-title {
  max-width: 70vw;
  font-size: 2.5em;
  color: white;
}
.links-about {
  color: #e51578;
}
.links-home, .links-about {
  text-decoration: none;
  padding: 0px 30px 0px 30px;
  
 }
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  background: #282c34;
}

.sec-2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 70vw;
}
.sec-3 {
  display: flex;
}
.title {
  font-size: 4em;
  margin-bottom: 0;
}
.App-link {
  color: #61dafb;
}

.workBlurb {
  max-width: 40vw;
  text-align: center; 
  margin-top: 0;
}
.pic-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: auto;
  max-width: 100%;
}
