.landing-home {
  display: flex;
  height: 150px;
  justify-content: center;
}
.landing-about {
  display: flex;
  height: 150px;
  /* justify-content: center; */
}

.home-header-content, .about-header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 95vw;
  font-size: .8em;
}
.landing-mid {
  display: flex;
  justify-content: center;
}
.landing-row-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px 0px 70px 0px;
  flex-direction: column;
  max-width: 50vw;
}

.header-logo {
  max-width: 50px;
  margin-top: 15px;
}
.home-title {
  height: auto;
  font-size: 2.5em;
  color: white;
  font-family: 'Roboto Condensed', sans-serif;
}
.name {
  color: #ca367e;
}
.links-about {
  color: white;
}
.links-about:hover {
  color: #ca367e;
  transition: 0.5s;
}
.links-home, .links-about {
  text-decoration: none;
  padding: 0px 30px 0px 30px;
  
 }
.home, .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  background: #282c34;
  font-family: 'Roboto', sans-serif;
}
.home {
  background: url('./images/BG2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(67, 67, 119, 0.6);
}
.title {
  font-size: em;
  margin: 100px 0 10px 0;
}
#line {
border-top: solid #ca367e 5px;
margin-bottom: 0px;
width: 70px;
}
#line2 {
  border-top: solid  #ca367e 5px;
  margin-bottom: 30px;
  width: 70px;
}
.App-link {
  color: #61dafb;
}

/************** WORK Pic Section *****************/
.sec-2 {
  min-width: 100vw;
  background: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-2-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 50vw;
}
.sec-2-work {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 30px 60px 60px 60px;
}
.sec-2-col {
  display: flex;
  align-items: center;
}
.work-block {
  display: flex;
  min-width: 0;
  height: auto;
  padding: 5px;
  justify-content: center;
  align-items: center;
}
.work-block-bg {
  width: 100vw;
  max-width: 100%;
  object-fit: cover;
}
.textOver {
  position: absolute;
}
.workBlurb {
  text-align: center; 
  margin-top: 50px;
  max-width: 750px;
  font-family: 'Roboto Condensed', sans-serif;  
}
/*******************CONTACT SECTION ******************/
.contact {
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(67, 67, 119, 0.6);
  justify-content: center;
}
.contact-col1 {
  display: flex;
}
.contact-col-c {
  display: flex;
  align-items: center;
  color: white;
  margin: 50px;
}
.contact-me {
  font-size: 4em;
}
.looking {
display: flex;
}
.scroll-icon {
  position: absolute;
  bottom: 10px;
}
.bounce {
  animation: bounce 2s;
  animation-delay: 4s;
  animation-iteration-count: 8;
}
@keyframes bounce {
  0%,
  15%,
  25%,
  50%,
  75%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-18px);
  }
  60% {
    transform: translateY(-10px)
  }
}
@media screen and (max-width: 1024px) {
  .sec-2-work {
    flex-wrap: wrap;
  }
  .sec-2-about {
    flex-wrap: wrap;
  }
  .contact {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 800px) {
  .scroll-icon {
    opacity: 0;
  }
  .home-title {
    font-size: 1.9em;
  }
  .sec-2-content {
    font-size: 75%;
    max-width: 80vw;
  }
  .Sicons {
  width: 25px;
  }
  .footer-title {
    font-size: .8em;
  }
  .looking {
    font-size: 1em;
  }
  .contact-me {
    font-size: 2.5em;
  }
  .about-text {
    width: 200px;
  }
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  background: #282c34;
  font-family: 'Helvetica Neu', 'Open Sans', sans-serif;
}
.footer-title {
  color: lightgray;
  display: flex;
  justify-content: center;
}
.footer-col {
  display: flex;
  flex-direction: column;
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.Sicons {
  display: flex;
  max-width: 30px;
  height: auto;
  color: white;
  margin: 18px;
}
.sec-2-about {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90vw;
  padding: 0 70px 70px 70px;
}
.about-block-bg {
  width: 40px;
  height: auto;
  margin: 80px 0 0 0;
  padding: 40px;
  display: flex;
  background-color: #3a404b;
  border-radius: 30%;
}
.textUnder {
  color: #3a404b;
  margin-bottom: 0;
}
.about-text {
  margin-top: 5px;
  max-width: 300px;
  text-align: center;
  font-size: .8em;
  font-family: 'Roboto Condensed', sans-serif;
}
.about-block {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sec-2-col-about {
  margin: 15px;
}